<!DOCTYPE html>
<html>
<head>
  <title>BlogLost</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
 
<body >
	<div class = "shapk"> 
	 <div id="le">
	<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
     </div>
     <div class="container">
     	<div class="row">
     	  <div class="col-md-3 ramka ">
            <%= link_to 'Главная', controller: "welcome", class: "colorshapka"%>
           </div>
           <div class="col-md-3 ramka">
           	
     <%= link_to 'Новый пост' , new_post_path , class: "colorshapka"%> 
            
           </div>
     		<div class="col-md-3 ramka">
     <%= link_to 'Все посты', posts_path , class: "colorshapka"%>
           </div>
      </div>
     </div>
     </div>
<%= yield %>

</body>
</html>
